* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  flex-flow: column wrap;
  width: 315px;
  background-color: black;
  color: antiquewhite;
  justify-content: space-between;
}

.row {
  margin: 1%;
}

.square {
  background-color: #fcfcfc;
  color: black;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}
