* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  background: cyan;
}

.turn {
  display: flex;
  justify-content: space-evenly;
}

.whos-turn,
.current-turn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
}

.board {
  display: flex;
  flex-flow: column wrap;
  width: 322px;
  background-color: black;
  color: antiquewhite;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.squares {
  height: 305px;
  margin: 1%;
}

.square {
  background-color: white;
  color: black;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 0;
  padding: 0;
  font-size: 40px;
  margin: 1px;
  cursor: pointer;
}

.square:hover {
  background-color: lightblue;
}

.square:active {
  background-color: rgb(161, 160, 221);
}

.reset {
  display: flex;
  justify-content: center;
}

.reset-btn {
  border-radius: 0;
  border: none;
  margin: 1px;
  font-size: 20px;
}
